@import "../utils/variables.scss";

#chartsComponent {
  display: flex;
  flex-direction: row;
//   width: 1387.537px;
  width: 2000px;
  align-items: flex-end;
  gap: 69.951px;
}

#actual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
//   gap: 0.546px;
}

#anual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
//   gap: 0.546px;
}
