@import '../utils/variables.scss';

// .tablaGrande{
//     background-color: $background;
// }

.total{
    background-color: $total;
}

.tablaGrande{
    display: grid;
    max-width: 1388px;
    margin-left: 70px;
}