@import '../utils/variables.scss';

// .tablaGrande{
//     background-color: $background;
// }

.total{
    background-color: $total;
}

.tablaGrande{
    display: grid;
    max-width: 1388px;
    margin-left: 70px;
    background-color: $background;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 

}

input[type=number] { 
    -moz-appearance:textfield;
    cursor: pointer;
 }

 input[type=number]:disabled{
    cursor:default;
    background-color: $total;
 }