#logo {
  max-width: 161px;
  min-width: 161px;
  max-height: 39px;
}

#headerPDF {
  display: flex;
  min-width: 1440px;
  max-width: 1440px;
  height: 88px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: $red;
}

main {
  display: flex;
  width: 1440px;
  padding-bottom: 27.71px;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  background: $white;
}

#top {
  display: flex;
  flex-direction: row;
}

#topLeft {
  display: flex;
  width: 720px;
  //   height: 141.29px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  //   gap: 14px;
  padding: 20px;
}

#nombreAsesor {
  color: var(--several-principal-100, #c6171a);
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#emailAsesor {
  color: var(--several-grises-70, #4d4d4d);
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -20px;
}

#infoContainer {
  width: 660px;
  display: flex;
  padding: 8px;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 18px;
  background: $background;
  gap: 40px;
}

#titulos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.t1 {
  color: $botonPresion;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 200% */
}

#informacion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.t2 {
  color: $bold;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 200% */
}

#topRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 720px;
    margin-top: 30px;
}

#graphContainer {
  display: flex;
  padding: 8px;
  flex-direction: row;
  gap: 10px;
}

#graphTitle {
  color: var(--several-principal-100, #c6171a);
  font-family: Lato;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}

.proposal {
  color: var(--several-principal-100, #c6171a);
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.36px;
}

.factura {
  display: flex;
  padding: 20px;
//   margin: 10px;
  width: 300px;
  height: 250px;
  flex-direction: column;
  border-radius: 18px;
  background: var(--several-grises-20, #e6e6e6);
}

.proposal {
  color: var(--several-principal-100, #c6171a);
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.36px;
}

#middle {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

#middleTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.mTitle {
  color: var(--several-grises-70, #4d4d4d);
  text-align: center;
  font-family: Lato;
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
}

#mTitle2 {
  color: var(--several-grises-70, #4d4d4d);
  text-align: center;
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 200% */
}

#bottom {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }