@import '../utils/variables.scss';

.tabla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6.558px;
    margin-top: 50px;
    max-width: 1388px;
}

.enpt {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 18px;
    background: $tabla1;

}

h2 {
    color: $white;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.th1 {
    height: 96px;
    padding: 8px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--common-surface-default, $white);
    max-width: 70px;
}

.subtablas {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    grid-gap: 10px 10px;
    grid-column-gap: 10px;
    border-spacing: 8px 0;
}

td {
    max-width: 70px;
    min-width:70px;
    padding: 8px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: $cell;
    height: 20px;
}

input {
    border: none;
    background: $cell;
    max-width: 70px;
}

#compañia {
    display: flex;
    width: 248px;
    height: 96px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: $white;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    margin: 36px;
}

.compañia{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    width: 900px;
    align-items: center;
}

.tituloTabla{
    color: $red;
font-size: 48px;
font-weight: 800;
line-height: 56px;
display: flex;
max-width: 400px;
height: 96px;
padding: 10px;
align-items: center;
margin: 36px;
}